{%extends 'base.html'%}
{%block content%}
<div>
    <h2 class="diplay-2">Welcome To AIPAAS</h2>
    <hr>
    <p class="lead">
        AI PaaS is a set of AI and ML platform services for building,
         training, and deploying AI-powered application functionalities.
          Since by definition, PaaS services help users develop, run, and manage applications, 
          AI PaaS can help organizations create AI-based products without the need to purchase and
         maintain infrastructure.This definition was originally published on <a style="color:antiquewhite;" href="https://www.apriorit.com/">www.apriorit.com </a>
    </p>
</div>
{%endblock%}